<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 102.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... one
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ...done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1160111 sha256=79e67a2e7350b74ccec46b013bf821eb340f08f716a57dda82901c523bc4966e
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.37
    Uninstalling SQLAlchemy-2.0.37:
      Successfully uninstalled SQLAlchemy-2.0.37
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 5.2.1 requires SQLAlchemy>=1.4.1, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.15.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.39-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.39-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 73.9 MB/s eta 0:00:00
Downloading prettytable-3.15.1-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.15.1 sqlalchemy-2.0.39 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.15.1)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [11]:
%sql select * from SPACEXTABLE limit 1

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')]

In [12]:
%sql select distinct Landing_Outcome from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [13]:
%sql select distinct Mission_Outcome from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

In [18]:
%sql select distinct Payload, Customer, Booster_Version from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Dragon Spacecraft Qualification Unit', 'SpaceX', 'F9 v1.0  B0003'),
 ('Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 'NASA (COTS) NRO', 'F9 v1.0  B0004'),
 ('Dragon demo flight C2', 'NASA (COTS)', 'F9 v1.0  B0005'),
 ('SpaceX CRS-1', 'NASA (CRS)', 'F9 v1.0  B0006'),
 ('SpaceX CRS-2', 'NASA (CRS)', 'F9 v1.0  B0007'),
 ('CASSIOPE', 'MDA', 'F9 v1.1  B1003'),
 ('SES-8', 'SES', 'F9 v1.1'),
 ('Thaicom 6', 'Thaicom', 'F9 v1.1'),
 ('SpaceX CRS-3', 'NASA (CRS)', 'F9 v1.1'),
 ('OG2 Mission 1  6 Orbcomm-OG2 satellites', 'Orbcomm', 'F9 v1.1'),
 ('AsiaSat 8', 'AsiaSat', 'F9 v1.1'),
 ('AsiaSat 6', 'AsiaSat', 'F9 v1.1 B1011'),
 ('SpaceX CRS-4', 'NASA (CRS)', 'F9 v1.1 B1010'),
 ('SpaceX CRS-5', 'NASA (CRS)', 'F9 v1.1 B1012'),
 ('DSCOVR', 'U.S. Air Force NASA NOAA', 'F9 v1.1 B1013'),
 ('ABS-3A Eutelsat 115 West B', 'ABS Eutelsat', 'F9 v1.1 B1014'),
 ('SpaceX CRS-6', 'NASA (CRS)', 'F9 v1.1 B1015'),
 ('Turkmen 52 / MonacoSAT', 'Turkmenistan National Space Agency', 'F9 v1.1 B1016'),
 ('SpaceX CRS-7', 'NASA (CRS)', 'F9 v1.1 B1018'),
 ('OG2 Mission 2  11 Orbcomm-OG2 satellites', 'Orbcomm', 'F9 FT B1019'),
 ('Jason-3', 'NASA (LSP) NOAA CNES', 'F9 v1.1 B1017'),
 ('SES-9', 'SES', 'F9 FT B1020'),
 ('SpaceX CRS-8', 'NASA (CRS)', 'F9 FT B1021.1'),
 ('JCSAT-14', 'SKY Perfect JSAT Group', 'F9 FT B1022'),
 ('Thaicom 8', 'Thaicom', 'F9 FT B1023.1'),
 ('ABS-2A Eutelsat 117 West B', 'ABS Eutelsat', 'F9 FT B1024'),
 ('SpaceX CRS-9', 'NASA (CRS)', 'F9 FT B1025.1'),
 ('JCSAT-16', 'SKY Perfect JSAT Group', 'F9 FT B1026'),
 ('Iridium NEXT 1', 'Iridium Communications', 'F9 FT B1029.1'),
 ('SpaceX CRS-10', 'NASA (CRS)', 'F9 FT B1031.1'),
 ('EchoStar 23', 'EchoStar', 'F9 FT B1030'),
 ('SES-10', 'SES', 'F9 FT  B1021.2'),
 ('NROL-76', 'NRO', 'F9 FT B1032.1'),
 ('Inmarsat-5 F4', 'Inmarsat', 'F9 FT B1034'),
 ('SpaceX CRS-11', 'NASA (CRS)', 'F9 FT B1035.1'),
 ('BulgariaSat-1', 'Bulsatcom', 'F9 FT  B1029.2'),
 ('Iridium NEXT 2', 'Iridium Communications', 'F9 FT B1036.1'),
 ('Intelsat 35e', 'Intelsat', 'F9 FT B1037'),
 ('SpaceX CRS-12', 'NASA (CRS)', 'F9 B4 B1039.1'),
 ('Formosat-5', 'NSPO', 'F9 FT B1038.1'),
 ('Boeing X-37B OTV-5', 'U.S. Air Force', 'F9 B4 B1040.1'),
 ('Iridium NEXT 3', 'Iridium Communications', 'F9 B4 B1041.1'),
 ('SES-11 / EchoStar 105', 'SES EchoStar', 'F9 FT  B1031.2'),
 ('Koreasat 5A', 'KT Corporation', 'F9 B4 B1042.1'),
 ('SpaceX CRS-13', 'NASA (CRS)', 'F9 FT  B1035.2'),
 ('Iridium NEXT 4', 'Iridium Communications', 'F9 FT  B1036.2'),
 ('Zuma', 'Northrop Grumman', 'F9 B4 B1043.1'),
 ('GovSat-1 / SES-16', 'SES', 'F9 FT  B1032.2'),
 ('Paz  Tintin A & B', 'Hisdesat exactEarth SpaceX', 'F9 FT  B1038.2'),
 ('Hispasat 30W-6  PODSat', 'Hispasat  NovaWurks', 'F9 B4 B1044'),
 ('Iridium NEXT 5', 'Iridium Communications', 'F9 B4  B1041.2'),
 ('SpaceX CRS-14', 'NASA (CRS)', 'F9 B4  B1039.2'),
 ('Transiting Exoplanet Survey Satellite (TESS)', 'NASA (LSP)', 'F9 B4 B1045.1'),
 ('Bangabandhu-1', 'Thales-Alenia/BTRC', 'F9 B5  B1046.1'),
 ('Iridium NEXT 6   GRACE-FO 1, 2', 'Iridium Communications GFZ ‚ NASA', 'F9 B4  B1043.2'),
 ('SES-12', 'SES', 'F9 B4  B1040.2'),
 ('SpaceX CRS-15', 'NASA (CRS)', 'F9 B4 B1045.2'),
 ('Telstar 19V', 'Telesat', 'F9 B5B1047.1'),
 ('Iridium NEXT-7', 'Iridium Communications', 'F9 B5B1048.1'),
 ('Merah Putih ', 'Telkom Indonesia', 'F9 B5 B1046.2'),
 ('Telstar 18V / Apstar-5C', 'Telesat', 'F9 B5B1049.1'),
 ('SAOCOM 1A', 'CONAE', 'F9 B5 B1048.2'),
 ('Es hail 2', 'Es hailSat', 'F9 B5 B1047.2'),
 ('SSO-A ', 'Spaceflight Industries', 'F9 B5 B1046.3'),
 ('SpaceX CRS-16', 'NASA (CRS)', 'F9 B5B1050'),
 ('GPS III-01 ', 'USAF', 'F9 B5B1054'),
 ('Iridium NEXT-8', 'Iridium Communications', 'F9 B5 B1049.2'),
 ('Nusantara Satu, Beresheet Moon lander, S5', 'PSN, SpaceIL / IAI', 'F9 B5 B1048.3'),
 ('Crew Dragon Demo-1, SpaceX CRS-17 ', 'NASA (CCD) ', 'F9 B5B1051.1'),
 ('SpaceX CRS-17, Starlink v0.9', 'NASA (CRS)', 'F9 B5B1056.1 '),
 ('Starlink v0.9, RADARSAT Constellation', 'SpaceX', 'F9 B5 B1049.3'),
 ('RADARSAT Constellation, SpaceX CRS-18 ', 'Canadian Space Agency (CSA)', 'F9 B5 B1051.2 '),
 ('SpaceX CRS-18, AMOS-17 ', 'NASA (CRS)', 'F9 B5 B1056.2 '),
 ('AMOS-17, Starlink 1 v1.0 ', 'Spacecom', 'F9 B5 B1047.3 '),
 ('Starlink 1 v1.0, SpaceX CRS-19 ', 'SpaceX', 'F9 B5 B1048.4'),
 ('SpaceX CRS-19, JCSat-18 / Kacific 1 ', 'NASA (CRS), Kacific 1', 'F9 B5B1059.1'),
 ('JCSat-18 / Kacific 1, Starlink 2 v1.0 ', 'Sky Perfect JSAT, Kacific 1', 'F9 B5 B1056.3 '),
 ('Starlink 2 v1.0, Crew Dragon in-flight abort test ', 'SpaceX', 'F9 B5 B1049.4'),
 ('Crew Dragon in-flight abort test, Starlink 3 v1.0 ', 'NASA (CTS)', 'F9 B5 B1046.4'),
 ('Starlink 3 v1.0, Starlink 4 v1.0 ', 'SpaceX', 'F9 B5 B1051.3'),
 ('Starlink 4 v1.0, SpaceX CRS-20', 'SpaceX', 'F9 B5 B1056.4'),
 ('SpaceX CRS-20, Starlink 5 v1.0 ', 'NASA (CRS)', 'F9 B5 B1059.2'),
 ('Starlink 5 v1.0, Starlink 6 v1.0 ', 'SpaceX', 'F9 B5 B1048.5'),
 ('Starlink 6 v1.0, Crew Dragon Demo-2 ', 'SpaceX', 'F9 B5 B1051.4'),
 ('Crew Dragon Demo-2, Starlink 7 v1.0 ', 'NASA (CCDev)', 'F9 B5B1058.1 '),
 ('Starlink 7 v1.0, Starlink 8 v1.0', 'SpaceX, Planet Labs', 'F9 B5 B1049.5'),
 ('Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ', 'SpaceX, Planet Labs', 'F9 B5 B1059.3'),
 ('GPS III-03, ANASIS-II', 'U.S. Space Force', 'F9 B5B1060.1'),
 ('ANASIS-II, Starlink 9 v1.0', 'Republic of Korea Army, Spaceflight Industries (BlackSky)', 'F9 B5 B1058.2 '),
 ('Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ', 'SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 'F9 B5 B1051.5'),
 ('Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ', 'SpaceX, Planet Labs, PlanetIQ', 'F9 B5 B1049.6'),
 ('SAOCOM 1B, GNOMES 1, Tyvak-0172', 'CONAE, PlanetIQ, SpaceX', 'F9 B5 B1059.4'),
 ('Starlink 11 v1.0, Starlink 12 v1.0 ', 'SpaceX', 'F9 B5 B1060.2 '),
 ('Starlink 12 v1.0, Starlink 13 v1.0 ', 'SpaceX', 'F9 B5 B1058.3 '),
 ('Starlink 13 v1.0, Starlink 14 v1.0 ', 'SpaceX', 'F9 B5 B1051.6'),
 ('Starlink 14 v1.0, GPS III-04  ', 'SpaceX', 'F9 B5 B1060.3'),
 ('GPS III-04 , Crew-1', 'USSF', 'F9 B5B1062.1'),
 ('Crew-1, Sentinel-6 Michael Freilich ', 'NASA (CCP)', 'F9 B5B1061.1 '),
 ('Sentinel-6 Michael Freilich, Starlink 15 v1.0 ', 'NASA / NOAA / ESA / EUMETSAT', 'F9 B5B1063.1'),
 ('Starlink 15 v1.0, SpaceX CRS-21', 'SpaceX', 'F9 B5 B1049.7 '),
 ('SpaceX CRS-21', 'NASA (CRS)', 'F9 B5 B1058.4 ')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select distinct Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select * from SPACEXTABLE where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [17]:
%sql select sum(PAYLOAD_MASS__KG_	) as 'Total_Payload_Mass' from SPACEXTABLE where Customer='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [18]:
%sql select avg(PAYLOAD_MASS__KG_	) as 'Average_Payload_Mass' from SPACEXTABLE where Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
%sql select min(Date) from SPACEXTABLE where Landing_Outcome='Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%sql select Booster_Version, Payload from SPACEXTABLE where Landing_Outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ between>4000 and PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'JCSAT-14'),
 ('F9 FT B1026', 'JCSAT-16'),
 ('F9 FT  B1021.2', 'SES-10'),
 ('F9 FT  B1031.2', 'SES-11 / EchoStar 105')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [36]:
%sql select Mission_Outcome,count(Mission_Outcome) from SPACEXTABLE group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
%sql select Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_ >= (select max(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [35]:
%sql select substr(Date, 6,2) as 'Month', (select Landing_Outcome from SPACEXTABLE where Landing_Outcome='Failure (drone ship)') as 'Landing_Outcome', Booster_Version, Launch_Site from SPACEXTABLE where  substr(Date,0,5)='2015'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('02', 'Failure (drone ship)', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('03', 'Failure (drone ship)', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'Failure (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'Failure (drone ship)', 'F9 FT B1019', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [49]:
%sql select Landing_Outcome, count(Landing_Outcome) as 'counts' from SPACEXTABLE where Date between '2010-06-04' and '2017-03-20' group by Landing_Outcome order by counts desc

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [59]:
%sql select Landing_Outcome, dense_rank() over (order by counts desc) from (select Landing_Outcome,count(Landing_Outcome) as 'counts' from SPACEXTABLE where Date between '2010-06-04' and '2017-03-20' group by Landing_Outcome order by counts desc)

 * sqlite:///my_data1.db
Done.

[('No attempt', 1),
 ('Success (drone ship)', 2),
 ('Failure (drone ship)', 2),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 4),
 ('Failure (parachute)', 4),
 ('Precluded (drone ship)', 5)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>